<ion-content>
  <ion-radio-group value="feedback">

    <ion-label>None</ion-label>
    <ion-radio value="none"></ion-radio>

    <ion-label>Feedback Only</ion-label>
    <ion-radio value="feedback"></ion-radio>

    <ion-label>All</ion-label>
    <ion-radio value="all"></ion-radio>

  </ion-radio-group>

  <ion-label>Volume</ion-label>
  <ion-range
    (ionChange)="volumeRangeChange($event)"
    [value]="soundsService.getVolume()"
    min="0"
    max="10"
    step="1"
    snaps="true"
    ticks="false"
  >
    <ion-icon slot="start" [name]="getVolumeIcon()" size="medium"></ion-icon>
  </ion-range>
</ion-content>
