
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div
          class="exercise-panel"
          (click)="exerciseClick()"
          fill="clear"
        >
          <div class="exercise-panel-upper">
            <ion-icon
              class="exercise-icon"
              name="cube-outline"
            >
            </ion-icon>
          </div>
          <div class="exercise-panel-lower">
            Cube Stacking
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          1
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          2
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          3
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          4
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          5
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          6
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          7
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- [routerLink]="['/base-exercise']" -->
  <!-- <ion-button>
    Exercise
  </ion-button> -->
